---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<article {...storyblokEditable(blok)}>
    <div class="wrapper">
        <div class="title-column">
            <h1>{blok.title}</h1>
            <h2>{blok.description}</h2>
        </div>
        <img
            class="title-image"
            src={blok.image?.filename}
            alt={blok.image?.alt}
        />
        <div class="blog-post" set:html={content} />
    </div>
</article>

<style>
    /* MARKDOWN TITLE STYLES */

    article {
        border-bottom: var(--main-border-weight) solid var(--main-border-color);
        background-color: var(--main-bg-color);
        color: white;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
            'title image'
            '. post';
    }

    .title-column {
        grid-area: title;
        padding: 32px;
    }

    .blog-post {
        grid-area: post;
        padding: 32px 32px 32px 0px;
    }

    .title-image {
        grid-area: image;
        object-fit: cover;
        width: 100%;
        height: calc(100vh - 88px);
    }

    /* RESPONSIVE STYLES */

    @media (max-width: 1400px) {
        h1 {
            font-size: 5em;
        }
    }

    @media (max-width: 768px) {
        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                'title'
                'image'
                'post';
        }

        .title-image {
            height: auto;
        }

        .blog-post {
            padding: 32px;
        }
    }

    @media (max-width: 530px) {
        h1 {
            font-size: 3.6em;
        }
    }
</style>
