---
import { storyblokEditable } from '@storyblok/astro';
import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
    version: import.meta.env.DEV ? 'draft' : 'published',
    content_type: 'blogPost',
});

const posts = data.stories.map((story) => {
    return {
        title: story.content.title,
        date: new Date(story.published_at).toLocaleDateString('en-UK', {
            dateStyle: 'full',
        }),
        description: story.content.description,
        slug: story.full_slug,
    };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)}>
    {
        posts.map((post) => (
            <li>
                <a href={post.slug}>
                    <h3>{post.title}</h3>
                </a>
                <p>{post.description}</p>
                <time>{post.date}</time>
                <div class="element-button-wrapper">
                    <a href={post.slug} class="element-button">
                        Lees meer
                    </a>
                </div>
            </li>
        ))
    }
</ul>

<style>
    /* BLOG POST GRID */

    p,
    time {
        color: var(--main-text-color);
    }

    time {
        font-style: italic;
    }

    ul {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }

    li {
        background-color: var(--main-bg-color);
        border-left: var(--main-border-weight) solid var(--main-border-color);
        border-bottom: var(--main-border-weight) solid var(--main-border-color);
        padding: 32px 24px 48px 32px;
    }

    li:first-child {
        border-left: 0px solid white;
    }

    /* RESPONSIVE STYLES */

    @media (max-width: 929px) {
        .element-container:nth-child(3n + 0) {
            border: 0px solid var(--main-border-color);
            outline: var(--main-border-weight) solid var(--main-border-color);
        }
    }

    @media (max-width: 619px) {
        li {
            border-left: 0px solid var(--main-border-color);
        }
    }
</style>
